@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
.font-size-12 {
  font-size: 12px; }

.font-size-14 {
  font-size: 14px; }

.font-size-16 {
  font-size: 16px; }

.font-size-18 {
  font-size: 18px; }

.text-red {
  color: red; }

.text-blue {
  color: blue; }

.text-pink {
  color: pink; }

.social-media__instagram {
  color: white; }

.social-media__facebook {
  color: white; }

.social-media__twitter {
  color: white; }

* {
  margin: 0;
  padding: 0;
  list-style: none; }

html {
  scroll-behavior: smooth;
  font-size: 10px; }

body {
  background: linear-gradient(180deg, #1c1d2b 0%, #05060a 100%); }

p {
  font-size: 2rem;
  color: #f7f1f1;
  font-family: 'Rubik', sans-serif; }

h1 {
  color: #59656F; }

.hr {
  margin: 4rem;
  border-color: orangered;
  background-color: orangered;
  height: 0.1rem; }

/* General */
#logo {
  margin-left: 25px;
  height: 9rem;
  width: 15rem; }
  #logo .logo__img {
    height: 5rem;
    top: 1.5rem;
    left: 0;
    position: relative; }
  #logo:hover .logo__img {
    animation-name: moto;
    animation-duration: 1s;
    animation-iteration-count: infinite; }
  #logo .logo__text {
    position: absolute;
    top: 6.5rem;
    color: #B08EA2; }

@keyframes moto {
  0% {
    left: 0; }
  5% {
    left: 0.5rem; }
  10% {
    left: 1rem; }
  15% {
    left: 1.5rem; }
  20% {
    left: 2rem; }
  25% {
    left: 2.5rem; }
  30% {
    left: 3rem; }
  35% {
    left: 3.5rem; }
  40% {
    left: 4rem; }
  45% {
    left: 4.5rem; }
  50% {
    left: 5rem; }
  55% {
    left: 5.5rem; }
  60% {
    left: 6rem; }
  65% {
    left: 6.5rem; }
  70% {
    left: 7rem; }
  75% {
    left: 7.5rem; }
  80% {
    left: 8rem; }
  85% {
    left: 8.5rem; }
  90% {
    left: 9rem; }
  95% {
    left: 9rem; }
  100% {
    left: 9rem; } }

@media only screen and (max-width: 768px) {
  #logo {
    margin-left: 25px;
    height: 9rem;
    width: 15rem; }
    #logo .logo__img {
      height: 5rem;
      top: 1.5rem;
      left: 32rem;
      position: relative; }
    #logo:hover .logo__img {
      animation-name: none; }
    #logo .logo__text {
      position: absolute;
      top: 6.5rem;
      left: 30rem;
      color: #B08EA2; } }

@media only screen and (max-width: 768px) and (max-width: 480px) {
  #logo {
    margin-left: 25px;
    height: 9rem;
    width: 15rem; }
    #logo .logo__img {
      height: 5rem;
      top: 1.5rem;
      left: 12rem;
      position: relative; }
    #logo:hover .logo__img {
      animation-name: none; }
    #logo .logo__text {
      position: absolute;
      left: 12rem;
      top: 6.5rem;
      color: #B08EA2; } }

@media only screen and (max-width: 375px) {
  #logo {
    margin-left: 25px;
    height: 9rem;
    width: 15rem; }
    #logo .logo__img {
      height: 5rem;
      top: 1.5rem;
      left: 14rem;
      position: relative; }
    #logo:hover .logo__img {
      animation-name: none; }
    #logo .logo__text {
      position: absolute;
      left: 14rem;
      top: 6.5rem;
      color: #B08EA2; } }

nav .nav-menu {
  display: flex;
  flex-flow: row-reverse wrap;
  height: 2rem;
  margin-right: 14rem;
  list-style: none; }
  nav .nav-menu .nav-menu__item a {
    color: #d3c9c9;
    font-family: Oswald;
    text-decoration: none;
    padding: 1rem;
    margin-right: 5rem;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.3rem;
    transition: 0.5s; }
    nav .nav-menu .nav-menu__item a:hover {
      color: orangered;
      text-decoration: none;
      padding: 1rem;
      font-size: 2rem;
      border-bottom: 1px solid orangered;
      transition: 0.5s; }

.nav-menu-hamburger {
  display: none; }

@media only screen and (max-width: 768px) {
  nav .nav-menu {
    display: none; }
  .nav-menu-hamburger {
    display: block;
    height: 5rem;
    position: absolute;
    padding: 1rem;
    z-index: 5;
    margin-top: -2rem; }
    .nav-menu-hamburger input {
      display: none; }
    .nav-menu-hamburger input:checked ~ ul {
      margin-top: 0.4rem;
      display: block;
      animation-play-state: running;
      animation-duration: .2s; }
    .nav-menu-hamburger label {
      box-sizing: border-box;
      display: inline-block;
      border: 1px solid orangered;
      color: orangered;
      border-radius: 5px;
      margin-left: 0rem;
      font-size: 1.5rem;
      width: 3rem;
      height: 3rem;
      line-height: 3rem;
      font-weight: bold;
      text-align: center;
      user-select: none; }
    .nav-menu-hamburger__ul {
      list-style-type: none;
      display: none; }
      .nav-menu-hamburger__ul__item {
        display: block;
        background: #1B1C29;
        margin: 0;
        z-index: 5;
        width: 76vh;
        padding: 1.2rem;
        list-style: none;
        border-bottom: 1px solid orangered; }
      .nav-menu-hamburger__ul__link {
        text-decoration: none;
        color: white;
        font-size: 1.4rem;
        transition: ease-out .5s;
        text-align: center;
        display: block; }
        .nav-menu-hamburger__ul__link:hover {
          color: orangered;
          text-decoration: none;
          transition: ease-in .3s; } }

@media only screen and (max-width: 480px) {
  nav .nav-menu {
    display: none; }
  .nav-menu-hamburger {
    display: block;
    height: 5rem;
    position: absolute;
    padding: 1rem;
    z-index: 5;
    margin-top: -4rem; }
    .nav-menu-hamburger input {
      display: none; }
    .nav-menu-hamburger input:checked ~ ul {
      margin-top: 0.4rem;
      display: block;
      animation-play-state: running;
      animation-duration: .2s; }
    .nav-menu-hamburger label {
      box-sizing: border-box;
      display: inline-block;
      border: 1px solid orangered;
      color: orangered;
      border-radius: 5px;
      margin-left: 0rem;
      width: 3rem;
      height: 3rem;
      line-height: 3rem;
      font-weight: bold;
      text-align: center;
      user-select: none; }
    .nav-menu-hamburger__ul {
      list-style-type: none;
      display: none; }
      .nav-menu-hamburger__ul__item {
        margin: 0;
        display: block;
        background: #1B1C29;
        z-index: 5;
        width: 49vh;
        padding: 1.2rem;
        list-style: none;
        border-bottom: 1px solid orangered; }
      .nav-menu-hamburger__ul__link {
        text-decoration: none;
        color: white;
        font-size: 1.4rem;
        transition: ease-out .5s;
        text-align: center;
        display: block; }
        .nav-menu-hamburger__ul__link:hover {
          color: orangered;
          text-decoration: none;
          transition: ease-in .3s; } }

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .nav-menu-hamburger__ul__item {
    display: block;
    background: #1B1C29;
    margin: 0;
    z-index: 5;
    width: 250%;
    padding: 1.2rem;
    list-style: none;
    border-bottom: 1px solid orangered; } }

.newsletter {
  margin-left: 10rem; }
  .newsletter .newsletter__text {
    font-size: 1.2rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .newsletter form .newsletter__input {
    border-radius: 0.5rem 0 0 0.5rem;
    border-color: orange;
    margin: auto;
    padding: 1rem;
    outline: none; }
    .newsletter form .newsletter__input:focus {
      border-color: orangered;
      background-color: #e0dbdb; }
  .newsletter form .newsletter__button {
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    padding: 0.8rem 1rem 1rem 1rem;
    border-color: orange; }

#copyright {
  color: orangered;
  text-align: center;
  font-size: 1.6rem; }

.social-media {
  display: flex;
  justify-content: center; }
  .social-media__facebook, .social-media__instagram, .social-media__twitter {
    padding: 1rem;
    transform: scale(3);
    margin: 2rem;
    text-decoration: none; }
  .social-media__facebook:hover {
    color: blue;
    transform: scale(4);
    transition: 0.4s; }
  .social-media__instagram:hover {
    color: pink;
    transform: scale(4);
    transition: 0.4s; }
  .social-media__twitter:hover {
    color: lightseagreen;
    transform: scale(4);
    transition: 0.4s; }

.contact-btn {
  display: flex;
  justify-content: flex-end;
  margin: 2rem; }
  .contact-btn .contact-btn__img {
    width: 2rem;
    height: 2rem; }
  .contact-btn .contact-btn__button {
    position: fixed;
    border-radius: 4rem;
    width: 6rem;
    height: 6rem;
    background-color: orangered;
    bottom: 5rem;
    border-color: black;
    z-index: 5;
    transition: 0.5s; }
    .contact-btn .contact-btn__button:hover {
      background-color: #d83d05; }

.modal .modal-dialog .modal-content .modal-header {
  background-image: linear-gradient(to right top, #ff4500, #f95015, #f25923, #ec612f, #e5683a); }

.modal .modal-dialog .modal-content .modal-body {
  background-image: linear-gradient(to right top, #14151f, #1d1e2c, #262839, #303247, #3a3c55); }

.modal .modal-dialog .modal-content .modal-footer {
  background-image: linear-gradient(to right top, #ff4500, #f95015, #f25923, #ec612f, #e5683a); }

#form {
  display: flex;
  align-items: center;
  flex-flow: column wrap; }
  #form .form__h1 {
    text-align: center;
    border-bottom: 0.5px solid orangered;
    padding: 0.5rem;
    margin-bottom: 2rem; }
  #form label {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    margin: 2rem 0 1rem 0;
    width: 8rem; }
  #form .form__terms {
    font-size: 1.3rem; }
  #form input,
  #form textarea {
    padding: 2rem;
    font-size: 1rem;
    width: 30rem;
    border-color: orange;
    border-radius: 1rem;
    transition: .2s; }
    #form input:focus,
    #form textarea:focus {
      padding: 2rem;
      font-size: 1.1rem;
      outline: none;
      border-color: orangered;
      transition: .2s;
      background-color: #e0dbdb; }
  #form .form__flex-checkbox {
    display: grid;
    grid-template-columns: 50px 100px;
    grid-template-rows: 1fr;
    margin: 1rem; }
    #form .form__flex-checkbox .form__terms {
      grid-column: 1; }
    #form .form__flex-checkbox input {
      grid-column: 2; }

/* Inicio */
#slider {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 3rem; }
  #slider .slider__text__bg {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: grid;
    border-radius: 1rem;
    grid-template-rows: 2fr 1fr;
    grid-template-rows: 10rem;
    align-items: center;
    width: 25%;
    z-index: 4; }
    #slider .slider__text__bg .slider__text {
      grid-column: 1;
      display: block;
      font-size: 5rem;
      font-family: 'Oswald', sans-serif;
      background-image: linear-gradient(180deg, #ffffff, #d9d9d9);
      background-size: 100%;
      margin: 0 1rem 0 1rem;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent; }
    #slider .slider__text__bg .slider__text-animation {
      grid-column: 2;
      grid-row: 0/2;
      position: absolute;
      top: 1.7rem;
      right: 2.5rem;
      justify-self: center;
      display: block;
      animation: slideranimation 1.2s infinite;
      color: orangered;
      font-size: 5rem; }
  #slider .carousel {
    z-index: 0; }
    #slider .carousel .ctrl-pad .control {
      background-color: black;
      transform: scale(1.9);
      border-radius: 3em;
      padding: 1rem; }
    #slider .carousel .carousel-inner .carousel-item img {
      filter: blur(2px);
      width: 100%;
      height: 70vh; }

@media only screen and (max-width: 1440px) {
  #slider .slider__text__bg {
    background-color: rgba(0, 0, 0, 0.5);
    width: 26%;
    height: 14%;
    position: absolute; }
    #slider .slider__text__bg .slider__text {
      text-align: center;
      font-size: 3rem; }
    #slider .slider__text__bg .slider__text-animation {
      grid-column: 2;
      grid-row: 0/2;
      position: absolute;
      top: 2.9rem;
      right: 5.3rem;
      justify-self: center;
      display: block;
      animation: slideranimation 1.2s infinite;
      color: orangered;
      font-size: 3rem; }
  #slider .carousel .ctrl-pad {
    display: none; }
  #slider .carousel-inner .carousel-item__img {
    height: 180px;
    object-fit: cover;
    width: 100%;
    object-position: right center; } }

@media only screen and (max-width: 1024px) {
  #slider .slider__text__bg {
    background-color: rgba(0, 0, 0, 0.5);
    width: 30%;
    height: 14%;
    position: absolute; }
    #slider .slider__text__bg .slider__text {
      text-align: center;
      font-size: 3rem; }
    #slider .slider__text__bg .slider__text-animation {
      grid-column: 2;
      grid-row: 0/2;
      position: absolute;
      top: 2.9rem;
      right: 2rem;
      justify-self: center;
      display: block;
      animation: slideranimation 1.2s infinite;
      color: orangered;
      font-size: 3rem; }
  #slider .carousel .ctrl-pad {
    display: none; }
  #slider .carousel-inner .carousel-item__img {
    height: 180px;
    object-fit: cover;
    width: 100%;
    object-position: right center; } }

@media only screen and (max-width: 768px) {
  #slider .slider__text__bg {
    background-color: rgba(0, 0, 0, 0.5);
    width: 50%;
    height: 10%;
    position: absolute; }
    #slider .slider__text__bg .slider__text {
      text-align: center;
      font-size: 4rem;
      font-family: 'Oswald', sans-serif;
      background-image: linear-gradient(180deg, #ffffff, #d9d9d9);
      background-size: 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent; }
    #slider .slider__text__bg .slider__text-animation {
      grid-column: 2;
      grid-row: 0/2;
      position: absolute;
      top: 3.2rem;
      right: 1.2rem;
      justify-self: center;
      display: block;
      animation: slideranimation 1.2s infinite;
      color: orangered;
      font-size: 3rem; }
  #slider .carousel-inner .carousel-item {
    background-size: cover; }
    #slider .carousel-inner .carousel-item__img {
      height: 80vh;
      width: 100vh; } }

@media only screen and (max-width: 480px) {
  #slider .slider__text__bg {
    background-color: rgba(0, 0, 0, 0.5);
    width: 70%;
    height: 10%;
    position: absolute; }
    #slider .slider__text__bg .slider__text {
      text-align: center;
      font-size: 3rem;
      font-family: 'Oswald', sans-serif;
      background-image: linear-gradient(180deg, #ffffff, #d9d9d9);
      background-size: 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent; }
    #slider .slider__text__bg .slider__text-animation {
      grid-column: 2;
      grid-row: 0/2;
      position: absolute;
      top: 1.5rem;
      right: 2rem;
      justify-self: center;
      display: block;
      animation: slideranimation 1.2s infinite;
      color: orangered;
      font-size: 3rem; }
  #slider .carousel .ctrl-pad {
    display: none; }
  #slider .carousel-inner .carousel-item__img {
    height: 180px;
    object-fit: cover;
    width: 100%;
    object-position: right center; } }

@media only screen and (max-width: 375px) {
  #slider .slider__text__bg {
    background-color: rgba(0, 0, 0, 0.5);
    width: 60%;
    height: 15%;
    position: absolute; }
    #slider .slider__text__bg .slider__text {
      text-align: center;
      font-size: 2rem;
      font-family: 'Oswald', sans-serif;
      background-image: linear-gradient(180deg, #ffffff, #d9d9d9);
      background-size: 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent; }
    #slider .slider__text__bg .slider__text-animation {
      grid-column: 2;
      grid-row: 0/2;
      position: absolute;
      top: 2.5rem;
      right: 2rem;
      justify-self: center;
      display: block;
      animation: slideranimation 1.2s infinite;
      color: orangered;
      font-size: 3rem; }
  #slider .carousel .ctrl-pad {
    display: none; }
  #slider .carousel-inner .carousel-item__img {
    height: 180px;
    object-fit: cover;
    width: 100%;
    object-position: right center; } }

@media only screen and (max-width: 360px) {
  #slider .slider__text__bg {
    background-color: rgba(0, 0, 0, 0.5);
    width: 84%;
    height: 14%;
    position: absolute; }
    #slider .slider__text__bg .slider__text {
      text-align: center;
      font-size: 3rem;
      font-family: 'Oswald', sans-serif;
      background-image: linear-gradient(180deg, #ffffff, #d9d9d9);
      background-size: 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent; }
    #slider .slider__text__bg .slider__text-animation {
      grid-column: 2;
      grid-row: 0/2;
      position: absolute;
      top: 3rem;
      right: 2rem;
      justify-self: center;
      display: block;
      animation: slideranimation 1.2s infinite;
      color: orangered;
      font-size: 3rem; }
  #slider .carousel .ctrl-pad {
    display: none; }
  #slider .carousel-inner .carousel-item__img {
    height: 180px;
    object-fit: cover;
    width: 100%;
    object-position: right center; } }

@keyframes slideranimation {
  0% {
    opacity: 1; }
  49% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0; } }

.button {
  display: flex;
  position: absolute;
  bottom: 18rem;
  align-items: center;
  z-index: 5;
  justify-content: center; }
  .button .button__style {
    color: #d3c9c9;
    box-sizing: border-box;
    height: 5rem;
    width: 10.7rem;
    font-size: 2rem;
    border: 1px solid;
    border-radius: 4px;
    text-decoration: none;
    background-color: #222c2e;
    transition: .5s; }
  .button .button__style:hover {
    transition: .5s;
    color: orangered;
    background-color: #141a1b;
    cursor: pointer; }

@media only screen and (max-width: 768px) {
  .button {
    display: flex;
    position: absolute;
    top: 60rem;
    align-items: center;
    z-index: 5;
    justify-content: center; } }

@media only screen and (max-width: 425px) {
  .button {
    display: flex;
    position: absolute;
    top: 50rem;
    align-items: center;
    z-index: 5;
    justify-content: center; } }

#presentation {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  justify-content: center;
  margin-top: 8.4rem; }
  #presentation .presentation__container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap; }
    #presentation .presentation__container #presentation__text,
    #presentation .presentation__container #presentation_video {
      display: flex;
      flex-flow: row wrap;
      align-content: center;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.1);
      border: 2px solid orangered;
      height: 48rem;
      width: 85.4rem;
      line-height: 2.5rem;
      margin: 2rem;
      overflow: hidden; }
      #presentation .presentation__container #presentation__text .presentation__text--zoom,
      #presentation .presentation__container #presentation_video .presentation__text--zoom {
        transition: .5s;
        font-size: 1.8rem;
        margin: 2rem 1rem 0rem 1rem; }
      #presentation .presentation__container #presentation__text .presentation__text--zoom:hover,
      #presentation .presentation__container #presentation_video .presentation__text--zoom:hover {
        color: orangered;
        transition: .5s;
        transform: scale(1.005); }

@media only screen and (max-width: 768px) {
  #presentation .presentation__container #presentation__text,
  #presentation .presentation__container #presentation_video {
    width: 80%; }
    #presentation .presentation__container #presentation__text img,
    #presentation .presentation__container #presentation_video img {
      display: none; } }

@media only screen and (max-width: 375px) {
  #presentation {
    grid-template-columns: repeat(1, 100%); }
    #presentation .presentation__container {
      min-width: 100%;
      max-width: 100%; }
      #presentation .presentation__container #presentation__text,
      #presentation .presentation__container #presentation_video {
        width: 80%; }
        #presentation .presentation__container #presentation__text img,
        #presentation .presentation__container #presentation_video img {
          display: none; } }

@media only screen and (max-width: 425px) {
  #presentation {
    grid-template-columns: repeat(1, 100%); }
    #presentation .presentation__container #presentation__text,
    #presentation .presentation__container #presentation_video {
      width: 80%;
      overflow: scroll; }
      #presentation .presentation__container #presentation__text .presentation__text--zoom:hover,
      #presentation .presentation__container #presentation_video .presentation__text--zoom:hover {
        color: orangered;
        transition: .5s;
        transform: scale(1); }
        #presentation .presentation__container #presentation__text .presentation__text--zoom:hover img,
        #presentation .presentation__container #presentation_video .presentation__text--zoom:hover img {
          display: none; } }

#categories {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  align-content: space-between; }
  #categories .categories__content {
    margin: 2rem 0rem 5rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    #categories .categories__content img {
      width: 30.6rem;
      height: 30.6rem;
      transition: .7s; }
    #categories .categories__content .categories__text {
      font-size: 2rem;
      font-family: Oswald;
      text-decoration: none;
      color: #DAF7A6;
      background-size: cover;
      padding: 2rem;
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      transition: .7s;
      opacity: 0; }
    #categories .categories__content:hover img {
      filter: blur(1px);
      transform: scale(1.1);
      transition: .7s; }
    #categories .categories__content:hover .categories__text {
      transition: 1s;
      opacity: 1;
      color: #DAF7A6; }

@media only screen and (max-width: 768px) {
  #categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: space-between; }
    #categories .categories__content {
      margin: 2rem 0rem 5rem 0rem;
      display: flex;
      justify-content: center;
      align-items: center; } }

@media only screen and (max-width: 480px) {
  #categories {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center; }
    #categories .categories__content {
      display: flex;
      justify-content: center;
      align-items: center; } }

@media only screen and (max-width: 375px) {
  #categories {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
    align-content: center; }
    #categories .categories__content {
      display: flex;
      justify-content: center;
      align-items: center; } }

.bottom {
  display: flex;
  justify-content: center; }
  .bottom .bottom__text {
    text-align: center;
    width: 100rem;
    margin: 3rem; }

@media only screen and (max-width: 480px) {
  .bottom .bottom__text {
    width: 100%;
    margin: 3rem; } }

/* Mi Ruta */
#route {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  color: #d3c9c9; }
  #route .route__h2 {
    border-bottom: 1px solid orangered; }
  #route .route__iframe {
    border-radius: 0.5rem; }

@media only screen and (max-width: 480px) {
  #route {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    color: #d3c9c9; }
    #route .route__h2 {
      border-bottom: 1px solid orangered; }
    #route .route__iframe {
      width: 35rem;
      border-radius: 0.5rem; } }

/* Videos */
#popular-video {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap; }

#popular-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

#more-vid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  #more-vid .more-vid__vid__img {
    width: 30rem;
    height: 30rem;
    margin: 2rem 10rem 2rem 10rem; }

@media only screen and (min-width: 700px) and (max-width: 768px) {
  #more-vid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center; }
    #more-vid .more-vid__vid__img {
      margin: 0; } }

.wrap {
  width: 30%;
  margin-left: 75rem;
  margin-top: 10rem; }
  .wrap .search {
    width: 100%;
    position: relative;
    display: flex; }
    .wrap .search .searchTerm {
      width: 100%;
      border: 3px solid orangered;
      border-right: none;
      padding: 5px;
      height: 20px;
      border-radius: 5px 0 0 5px;
      outline: none; }
      .wrap .search .searchTerm:focus {
        color: black; }
    .wrap .search .searchButton {
      width: 40px;
      height: 36px;
      border: 1px solid orangered;
      background: orangered;
      text-align: center;
      color: #fff;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      font-size: 20px; }

@media only screen and (max-width: 768px) {
  .wrap {
    width: 50%;
    margin-left: 20rem;
    margin-top: 10rem; } }

@media only screen and (max-width: 480px) {
  .wrap {
    width: 50%;
    margin-left: 10rem;
    margin-top: 10rem; } }

/* El Viaje */
.trip-text {
  margin: 5rem;
  display: grid;
  justify-items: center; }
  .trip-text__img {
    height: 50rem;
    width: 50rem;
    margin-top: 2.5rem; }
  .trip-text__p {
    margin: 2rem;
    line-height: 2.4rem; }

@media only screen and (max-width: 480px) {
  .trip-text {
    margin: 0rem;
    grid-template-columns: 50vh;
    display: grid;
    justify-items: center; }
    .trip-text__img {
      height: 30rem;
      width: 30rem;
      margin-top: 2.5rem; }
    .trip-text__p {
      margin: 2rem;
      line-height: 2.4rem; } }

/* Merchandising */
#merch {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  justify-items: center; }
  #merch .merch__card {
    margin-top: 3rem;
    background-color: black; }
    #merch .merch__card__body__btns {
      display: grid;
      row-gap: 0.5rem; }

@media only screen and (max-width: 425px) {
  #merch {
    display: grid;
    grid-template-columns: repeat(1, 50vh);
    justify-items: center; }
    #merch .merch__card {
      margin-top: 3rem; }
      #merch .merch__card__body__btns {
        display: grid;
        row-gap: 0.5rem; } }

/* Quien soy */
#who-am {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr;
  grid-template-areas: "imagen texto" "imagen texto";
  margin: 5rem; }
  #who-am .who-am__img {
    height: 50rem;
    margin: 2rem;
    align-self: baseline;
    width: 50rem;
    grid-area: imagen; }
  #who-am .who-am__text {
    line-height: 2.8rem;
    grid-area: texto; }

@media only screen and (max-width: 480px) {
  #who-am {
    display: grid;
    grid-template-columns: 50vh;
    justify-items: center;
    grid-template-areas: "imagen" "texto";
    margin: 0; }
    #who-am .who-am__img {
      height: 30rem;
      margin: 1rem;
      align-self: baseline;
      width: 30rem;
      grid-area: imagen; }
    #who-am .who-am__text {
      line-height: 3rem;
      font-size: 1.5rem;
      grid-area: texto; } }

@media only screen and (max-width: 768px) {
  #who-am {
    display: grid;
    grid-template-columns: 82vh;
    justify-items: center;
    grid-template-areas: "imagen" "texto";
    margin: 0; }
    #who-am .who-am__img {
      height: 30rem;
      margin: 1rem;
      align-self: baseline;
      width: 30rem;
      grid-area: imagen; }
    #who-am .who-am__text {
      line-height: 3rem;
      font-size: 2rem;
      margin: 2rem;
      grid-area: texto; } }

@media only screen and (max-width: 480px) {
  #who-am {
    display: grid;
    grid-template-columns: 50vh;
    justify-items: center;
    grid-template-areas: "imagen" "texto";
    margin: 0; }
    #who-am .who-am__img {
      height: 30rem;
      margin: 1rem;
      width: 30rem;
      grid-area: imagen; }
    #who-am .who-am__text {
      line-height: 3rem;
      font-size: 1.5rem;
      grid-area: texto; } }

#motivation {
  margin: 5rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "texto imagen"; }
  #motivation .motivation__img {
    grid-area: imagen;
    margin-left: 10rem;
    height: 50rem;
    width: 50rem; }
  #motivation .motivation__text {
    grid-area: texto;
    margin: 2rem;
    line-height: 2.8rem; }

@media only screen and (max-width: 768px) {
  #motivation {
    margin: 0;
    display: grid;
    justify-items: center;
    grid-template-columns: 82vh;
    grid-template-areas: "imagen" "texto"; }
    #motivation .motivation__img {
      grid-area: imagen;
      margin: 0 0 0 0;
      height: 50rem;
      width: 50rem; }
    #motivation .motivation__text {
      grid-area: texto;
      margin: 2rem;
      line-height: 2.8rem; } }

@media only screen and (max-width: 480px) {
  #motivation {
    margin: 0;
    display: grid;
    justify-items: center;
    grid-template-columns: 50vh;
    grid-template-areas: "imagen" "texto"; }
    #motivation .motivation__img {
      grid-area: imagen;
      margin: 0;
      height: 30rem;
      width: 30rem; }
    #motivation .motivation__text {
      grid-area: texto;
      margin: 2rem;
      font-size: 1.5rem;
      line-height: 2.8rem; } }

/* Error 404 */
.error {
  display: grid;
  grid-template-rows: repeat(1, 100%);
  justify-content: center;
  margin: 15rem; }
  .error .error__text {
    text-align: center; }
  .error #countDown {
    color: orangered; }
