
.bottom {
    display: flex;
    justify-content: center;
    .bottom__text {
        text-align: center;
        width: 100rem;
        margin: 3rem;
    }
}

@media only screen and (max-width:480px) {
    .bottom {
        .bottom__text {
            width: 100%;
            margin: 3rem;
        }
    }
}
