
.newsletter {
    margin-left: 10rem;

    .newsletter__text {
        font-size: 1.2rem;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    form {
        .newsletter__input {
            border-radius: 0.5rem 0 0 0.5rem;
            border-color: orange;
            margin: auto;
            padding: 1rem;
            outline: none; 

            &:focus {
                border-color: orangered;
                background-color: rgb(224, 219, 219);
            }
        }

        .newsletter__button {
            border-radius: 0rem 0.5rem 0.5rem 0rem;
            padding: 1rem 1rem 1rem 1rem;
            border-color: orange;
        }
    }
}


#copyright {
    color: orangered;
    text-align: center;
    font-size: 1.6rem;
}

.social-media {
    @include flex (flex, center);
    &__facebook,
    &__instagram,
    &__twitter {
        padding: 1rem;
        transform: scale(3);
        margin: 2rem;
    text-decoration: none;
    }
    &__facebook:hover {
        color: blue;
        transform: scale(4);
        transition: 0.4s;
    }
    &__instagram:hover {
        color: pink;
        transform: scale(4);
        transition: 0.4s;
    }
    &__twitter:hover {
        color: lightseagreen;
        transform: scale(4);
        transition: 0.4s;
    }
}
