#logo {
    margin-left: 25px;
    height: 9rem;
    width: 15rem;

    .logo__img {
        height: 5rem;
        top: 1.5rem;
        left: 0;
        position: relative;

    }

    &:hover .logo__img {
        animation-name: moto;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }

    .logo__text {
        position: absolute;
        top: 6.5rem;
        color: #B08EA2;
    }
}

@keyframes moto {
    0% {
        left: 0;
    }

    5% {
        left: 0.5rem;
    }

    10% {
        left: 1rem
    }

    15% {
        left: 1.5rem
    }

    20% {
        left: 2rem
    }

    25% {
        left: 2.5rem
    }

    30% {
        left: 3rem
    }

    35% {
        left: 3.5rem;
    }

    40% {
        left: 4rem
    }

    45% {
        left: 4.5rem
    }

    50% {
        left: 5rem
    }

    55% {
        left: 5.5rem
    }

    60% {
        left: 6rem
    }

    65% {
        left: 6.5rem;
    }

    70% {
        left: 7rem
    }

    75% {
        left: 7.5rem
    }

    80% {
        left: 8rem
    }

    85% {
        left: 8.5rem
    }

    90% {
        left: 9rem
    }

    95% {
        left: 9rem
    }

    100% {
        left: 9rem
    }
}

@media only screen and (max-width:768px) {

    #logo {
        display: flex;
        justify-content: center;
        margin: 20px;
        .logo__img {
            height: 5rem;
            top: 2.9rem;
            left: 3rem;
            position: relative;
        }
        .logo__text {
            position: absolute;
            top: 1rem;
            color: #B08EA2;
        }
    }
}