nav {
    .nav-menu {
        display: flex;
        flex-flow: row-reverse wrap;
        height: 2rem;
        margin-right: 14rem;
        list-style: none;

        .nav-menu__item {

            a {
                color: rgb(211, 201, 201);
                font-family: Oswald;
                text-decoration: none;
                padding: 1rem;
                margin-right: 5rem;
                font-size: 2rem;
                background-color: rgba(0, 0, 0, 0.1);
                border-radius: 0.3rem;
                transition: 0.5s;

                &:hover {
                    color: orangered;
                    text-decoration: none;
                    padding: 1rem;
                    font-size: 2rem;
                    border-bottom: 1px solid orangered;
                    transition: 0.5s;
                }
            }
        }
    }
}
.nav-menu-hamburger { display: none;}

@media only screen and (max-width:768px) {
    nav {
        .nav-menu {
            display: none;
        }
    }


    .nav-menu-hamburger {
        display: block;
        height: 5rem;
        position: absolute;
        padding: 1rem;
        z-index: 5;
        margin-top: -2rem;

        input {
            display: none;
        }

        input:checked~ul {
            margin-top: 0.4rem;
            display: block;
            animation-play-state: running;
            animation-duration: .2s;
        }

        label {
            box-sizing: border-box;
            display: inline-block;
            border: 1px solid orangered;
            color: orangered;
            border-radius: 5px;
            margin-left: 0rem;
            font-size: 1.5rem;
            width: 3rem;
            height: 3rem;
            line-height: 3rem;
            font-weight: bold;
            text-align: center;
            user-select: none;
        }

        &__ul {
            list-style-type: none;
            display: none;

            &__item {
                display: block;
                background: #1B1C29;
                margin: 0;
                z-index: 5;
                width: 76vh;
                padding: 1.2rem;
                list-style: none;
                border-bottom: 1px solid orangered;
            }

            &__link {
                text-decoration: none;
                color: white;
                font-size: 1.4rem;
                transition: ease-out .5s;
                text-align: center;
                display: block;

                &:hover {
                    color: orangered;
                    text-decoration: none;
                    transition: ease-in .3s;
                }

            }
        }
    }
}

@media only screen and (max-width:480px) {
    nav {
        .nav-menu {
            display: none;
        }
    }


    .nav-menu-hamburger {
        display: block;
        height: 5rem;
        position: absolute;
        padding: 1rem;
        z-index: 5;
        margin-top: -4rem;

        input {
            display: none;
        }

        input:checked~ul {
            margin-top: 0.4rem;
            display: block;
            animation-play-state: running;
            animation-duration: .2s;
        }

        label {
            box-sizing: border-box;
            display: inline-block;
            border: 1px solid orangered;
            color: orangered;
            border-radius: 5px;
            margin-left: 0rem;
            width: 3rem;
            height: 3rem;
            line-height: 3rem;
            font-weight: bold;
            text-align: center;
            user-select: none;
        }

        &__ul {
            list-style-type: none;
            display: none;

            &__item {
                margin: 0;
                display: block;
                background: #1B1C29;
                z-index: 5;
                width: 49vh;
                padding: 1.2rem;
                list-style: none;
                border-bottom: 1px solid orangered;
            }

            &__link {
                text-decoration: none;
                color: white;
                font-size: 1.4rem;
                transition: ease-out .5s;
                text-align: center;
                display: block;

                &:hover {
                    color: orangered;
                    text-decoration: none;
                    transition: ease-in .3s;
                }

            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width:480px) {
    .nav-menu-hamburger {


        &__ul {


            &__item {
                display: block;
                background: #1B1C29;
                margin: 0;
                z-index: 5;
                width: 250%;
                padding: 1.2rem;
                list-style: none;
                border-bottom: 1px solid orangered;
            }

        }
    }
}