#presentation {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: center;

    margin-top: 8.4rem;

    .presentation__container {

        @include flex (flex, center);
        align-content: center;
        flex-flow: row wrap;

        #presentation__text,
        #presentation_video {
            display: flex;
            flex-flow: row wrap;
            align-content: center;
            justify-content: center;
            background-color: rgba(255, 255, 255, 0.1);
            border: 2px solid orangered;
            height: 48rem;
            width: 85.4rem;
            line-height: 2.5rem;
            margin: 2rem;
            overflow: hidden;

            .presentation__text--zoom {
                transition: .5s;
                font-size: 1.8rem;
                margin: 2rem 1rem 0rem 1rem;
            }

            .presentation__text--zoom:hover {
                color: orangered;
                transition: .5s;
                transform: scale(1.005);
            }
        }
    }
}

@media only screen and (max-width:768px) {
    #presentation {


        .presentation__container {

            #presentation__text,
            #presentation_video {
                width: 80%;

                img {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width:375px) {
    #presentation {
        grid-template-columns: repeat(1, 100%);


        .presentation__container {
            min-width: 100%;
            max-width: 100%;

            #presentation__text,
            #presentation_video {
                width: 80%;

                img {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width:425px) {
    #presentation {
        grid-template-columns: repeat(1, 100%);

        .presentation__container {

            #presentation__text,
            #presentation_video {
                width: 80%;
                overflow: scroll;

                .presentation__text--zoom:hover {
                    color: orangered;
                    transition: .5s;
                    transform: scale(1.0);

                    img {
                        display: none;
                    }
                }
            }
        }
    }
}