
#presentation {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: center;

    margin-top: 8.4rem;

    .presentation__container {
        
        @include flex (flex, center);
        align-content: center;
        flex-flow: row wrap;

        #presentation__text,
        #presentation_video {
            background-color: rgba(255, 255, 255, 0.1);
            border: 2px solid orangered;
            height: 48rem;
            width: 85.4rem;
            line-height: 2.5rem;
            margin: 1rem;
            overflow: hidden;
            text-align: center;
            .presentation__text--zoom:hover {
                color: orangered;
                transition: .5s;
                transform: scale(1.01);
            }
        }
    }
}

@media only screen and (max-width:768px) {
#presentation {

    
    .presentation__container {
        #presentation__text,
        #presentation_video {
            width: 80%;
        }
    }
}
}

@media only screen and  (max-width:375px) {
    #presentation {

        
        .presentation__container {
            min-width: 100%;
            max-width: 100%;
            #presentation__text,
            #presentation_video {
                width: 80%;
            }
        }
    }
    }

@media only screen and (max-width:425px) {
    #presentation {
        
        .presentation__container {
            #presentation__text,
            #presentation_video {
                width: 80%;
                overflow: scroll;
                .presentation__text--zoom:hover {
                    color: orangered;
                    transition: .5s;
                    transform: scale(1.0);
                }
            }
        }
    }
    }
    
    
