#more-vid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 8rem;

    .more-vid__vid {
        &__img {
            width: 30rem;
            height: 30rem;
            margin: 2rem 10rem 2rem 10rem;
        }
    }
}

@media only screen and (min-width: 700px) and (max-width:768px)
{
    #more-vid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        .more-vid__vid {
            &__img {
                margin: 3rem;
            }
    }
} 
}