.wrap {
    width: 30%;
    margin-left: 75rem;
    margin-top: 10rem;

    .search {
        width: 100%;
        position: relative;
        display: flex;

        .searchTerm {
            width: 100%;
            border: 3px solid orangered;
            border-right: none;
            padding: 5px;
            height: 20px;
            border-radius: 5px 0 0 5px;
            outline: none;

            &:focus {
                color: black;
            }

        }
        .searchButton {
            width: 40px;
            height: 36px;
            border: 1px solid orangered;
            background: orangered;
            text-align: center;
            color: #fff;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
            font-size: 20px;
        }
    }
}

@media only screen and (max-width:768px) {
    .wrap {
        width: 50%;
        margin-left: 20rem;
        margin-top: 10rem;
        }
}


@media only screen and (max-width:414px) {
    .wrap {
        width: 50%;
        margin-left: 10rem;
        margin-top: 10rem;
        }
}